<%- include('outsideHeader') -%>
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="img/login_books.jpg"  width="550" height="600" alt="login" class="login-card-img">
            </div>
           
            <div class="col-md-7">
              <div class="card-body">
                <%- include('error') -%>
                <%- include('msg') -%>
                <p class="login-card-description">Please give us your e-mail address!</p>
                <form method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">E-mail address</label>
                      <input type="email" name="email" id="email" class="form-control" placeholder="pelda@email.hu">
                    </div>
                    <input name="send" id="send" class="btn btn-primary" type="submit" value="Send">
                    <a href="/login" class="btn btn-primary">Back to login</a>
                  </form>                  
              </div>
            </div>
          </div>
        </div>
<%- include('outsideFooter') -%>