<%- include('outsideHeader') -%>
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="img/login_books.jpg"  width="550" height="600" alt="login" class="login-card-img">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="login-card-description">Kérjen egy új jelszót e-mailen keresztül!</p>
                <form action="#!">
                    <div class="mb-3">
                      <label for="email" class="form-label">E-mail cím</label>
                      <input type="email" name="email" id="email" class="form-control" placeholder="pelda@email.hu">
                    </div>
                    <input name="login" id="login" class="btn btn-primary" type="button" value="Küldés">
                  </form>
                  <a href="/login" class="btn btn-primary">Vissza a bejelentkezéshez</a>
              </div>
            </div>
          </div>
        </div>

<%- include('outsideFooter') -%>