<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<% if (typeof msg !== 'undefined') { %>
    <div class="w3-panel w3-green w3-border">
        <ul>
            <li><%= msg %></li>
        </ul>
    </div>
    <% } %>