<%- include('header') -%><%- include('menu') -%>


    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="jelenlegi.email@email.hu">
            </div>
          <div class="mb-3">
            <label for="username" class="form-label">Felhasználónév</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Felhasználónév">
          </div>
          <input name="login" id="login" class="btn btn-primary" type="button" value="Mentés">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <form action="#!">
                <div class="form-group mb-4">
                  <label for="oldpassword" class="form-label">Régi jelszó</label>
                  <input type="password" name="oldpassword" id="oldpassword" class="form-control" placeholder="***********">
                </div>
                <div class="form-group mb-4">
                  <label for="newpassword" class="form-label">Új jelszó</label>
                  <input type="password" name="newpassword" id="password" class="form-control" placeholder="***********">
                </div>
                  <div class="form-group mb-4">
                    <label for="newpassword2" class="form-label">Új jelszó megerősítése</label>
                    <input type="password" name="newpassword2" id="newpassword2" class="form-control" placeholder="***********">
                  </div>
                  <input name="login" id="login" class="btn btn-primary" type="button" value="Jelszó mentése">
                </form>
            </div>
          </div>
        </div>
      </div>

      <%- include('footer') -%>